<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartParking"
        tools:targetApi="31">
        <activity
            android:name=".bookStat.MyBooksActivity"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".adminview.ReturnRequestActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".adminview.IssueRequestActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".adminview.IssuedBooksActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".adminview.RecentHistoryActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".adminview.AddBookActivity"
            android:exported="false"
            android:theme="@style/AppThemeForm" />
        <activity
            android:name=".adminview.AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".bookStat.BookStatActivity"
            android:exported="false"
            android:label="@string/title_activity_book_stat"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BookDetailsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".barcodem.BarCodeResultActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".barcodem.BarCodeMainActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Tatkal_Dark_Theme_NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".TransactionStatusActivity"
            android:exported="false"
            android:theme="@style/Tatkal_Dark_Theme_NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Tatkal_Dark_Theme_NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Tatkal_Dark_Theme_NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".SplashScreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Tatkal_Dark_Theme_NoActionBar">

            <!-- android:theme="@style/Theme.SmartParking.Fullscreen" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>